body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #1e293b);
  color: white;
}

.container {
  text-align: center;
  padding-top: 40px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.card {
  background: #111827;
  width: 380px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(56, 189, 248, 0.5);
}

h2 {
  color: #f8fafc;
}

input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

.switch-btn {
  background: #22c55e;
}

.switch-btn:hover {
  background: #16a34a;
}

.task-item {
  background: #1e293b;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
}